* {
    box-sizing: border-box;

}

body {
    background-size: cover;
}

.before {
    position: fixed;
    width: 4.2rem;
    height: 4.3rem;
    float: right;
    top: 51rem;
    right: 0;
    bottom: 0;
    border-radius: 2.2rem;
    text-align: center;
    font-size: 3rem;
    color: aliceblue;
    cursor: pointer;
    margin-right: 1.5rem;

    background: #F86E10;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.8);
}






.arrowBack svg {
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
    left: 1.6rem;
    top: 1.6rem;

    border-radius: 2.6rem;
    background-color: #808080;
    cursor: pointer;
    border: 1px solid #F86E10;

}

.conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    margin: auto;
    width: 32.8rem;
    height: 49.6rem;
    top: 12.2rem;

    background: #fff;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.16);
    border-radius: 1.2rem;
}

.p,
.groupB,
.grupoA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: auto;
}

.tela .conteudo .grupoA svg {
    margin-top: 5.8rem;
    margin-left: 3.5rem;
    margin-right: 4.2rem;

    width: 28.3rem;
    height: 22.6rem;
}



.tela .conteudo .groupB {
    margin-top: 1rem;
}

.groupB .button a {
    text-decoration: none;
}

.tela .conteudo .groupB .button {
    cursor: pointer;
    width: 27.1rem;
    height: 5.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 4.4rem;
    margin-top: 2.3rem;
    border: none;

    background: #F86E10;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
}

.tela .conteudo .groupB .button .p {
    width: 10.2rem;
    height: 2.8rem;
    left: 12.8rem;
    top: 42rem;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;


    text-align: center;

    color: #FFFFFF;

}

.tela .conteudo .groupB .p {
    margin-top: 1.6rem;
    width: 16.9rem;
    height: 2.8rem;
    left: 9.5rem;
    top: 47.8rem;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;


    text-align: center;

    color: #F86E10;
    cursor: pointer;
    text-decoration: none;

}

.tela .conteudo .groupB .p:hover {
    color: #353B16;
}


/* CATASDRO */
header,
.info-header {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 32.8rem;
    height: 5.3rem;
    margin: auto;
    margin-top: 9.6rem;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;
    text-align: center;
    border: 1px solid #808080;

    color: #333333;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 28.8rem;
    height: 22rem;
    left: 3.7px;

    margin-top: 19.1rem;
    margin-inline: auto;

}

.info p {

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 0.1rem;
    margin-top: 1.8rem;
    margin-bottom: -0.1rem;

}

.info input {
    border: none;
    color: #333333;
    background-color: transparent;
    border-bottom: 1px solid rgb(141, 139, 139);
    width: 20rem;
    height: 1.9rem;
    margin-top: 2.2rem;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F86E10;
    margin-inline: auto;
    cursor: pointer;
    width: 27.1rem;
    height: 5.6rem;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    border: none;
}

.button:hover {
    background-color: #7c7570e4;
    filter: brightness(1.5);
    color: black;
}

.button a {
    margin-block: auto;
    text-decoration: none;
}

.button a p {
    width: 100%;
    height: 2.8rem;
    left: 12.8rem;
    top: 42rem;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;






    text-align: center;
    align-items: center;

    color: #FFFFFF;
}

/* LOGIN CSS */
#mensagemErro {
    width: 31.3rem;
    height: 2.6rem;
    color: red;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.6rem;
    text-align: center;
    margin-top: 0rem;

}

.info #mensagemErro {
    margin-top: 2rem;
}



/* TELA PRINCIPAL */
.logos {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    gap: 4rem;
}

.logos svg {
    width: 24.6rem;
    height: 5.1rem;
    left: 1.1rem;

    font-size: 4rem;
    margin-left: 1.1rem;
    margin-right: 10.3rem;
    margin-top: 7.1rem;
    margin-bottom: 3.9rem;


    filter: drop-shadow(0px -1px 4px rgba(0, 0, 0, 0.45)) drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.4));
}

.logos img {
    margin: 4.3rem 2.4rem 5.2rem 3.2rem;
    border-radius: 3.6rem;

    display: block;
    width: 7rem;
    height: 7rem;


    max-width: 100%;
    border: 2px solid #F86E10;
    cursor: pointer;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 29.7rem;
    height: 3.1rem;
    margin-inline: auto;
    border-radius: 1.5rem;
    margin-top: 1rem;
    border: 1px solid #F86E10;


}

.pesquisa input {
    width: 25.8rem;
    height: 1.3rem;
    left: 4rem;
    top: 16.5rem;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    border: none;
}


.selecao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-inline: auto;
    width: 34.9rem;
    height: 4.8rem;
    left: 4rem;

    margin-top: 19.7rem;
}

.selecao .celec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
    height: 5rem;



    background: #FFFFFF;
    box-shadow: 0 0 1em gold;
    margin-block: auto;
    border-bottom: 0.4rem solid #7CB518;
}

.selecao .celec:hover {
    color: red;
    border-bottom: 7px solid red;
}

.selecao .celec p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6rem;
    /* identical to box height, or 133% */

    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;


    color: #7CB518;


}

.resultado {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    color: red;

}

.carts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    flex-wrap: wrap;
    gap: 2rem;

}

.carts .cart {
    width: 22.4rem;
    height: auto;
    left: 4rem;
    top: 26rem;
    margin-top: 1rem;

    background: #FFFFFF;
    box-shadow: 1.5rem 1.5rem 1rem gray;
}

#card {
    margin-bottom: 6rem;
}

.carts .cart img {
    width: 22.4rem;
    height: 16.7rem;
    cursor: pointer;
}

.carts .cart h3 {
    text-align: center;

    top: 37.1rem;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;

    color: #F86E10;
}

.carts .cart .svg1 {
    position: absolute;
    width: 22.4rem;

}

.carts .cart svg {
    float: right;
    width: 3.4rem;
    height: 3.4rem;
    margin-top: -0.5rem;
}

.carts .cart p {
    text-align: center;
    left: 2.3rem;
    top: 38.5rem;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 0.8rem;
    text-align: center;

    color: #F86E10;

}

.carts .cart .plublicador {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    padding-bottom: 1.3rem;
}

.carts .cart .plublicador img {

    width: 3.3rem;
    height: 3.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 2rem;
}

.carts .cart .plublicador p {
    font-family: 'Quicksand';



    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 0.9rem;
    margin-bottom: -1rem;
    text-align: center;


    color: #525252;
    opacity: 0.4;
}

.carts .cart .plublicador .svg {

    margin-bottom: -2rem;
    margin-left: 5rem;
    float: right;


}

.carts .cart .plublicador .svg svg {
    width: 3rem;
    height: 3rem;
    margin-left: -1rem;


}

.fim {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-inline: auto;
    width: 25.8rem;
    height: 1.3rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #525252;
    margin-block: 6.4rem;

    opacity: 0.85;
}

/* SEGUINDO */
.tela .tabela {
    margin-top: 3.4rem;

    width: 32.7rem;
    height: 27.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;

    background: #FFFFFF;
    box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08), 0px 24px 32px rgba(50, 50, 71, 0.08);
}

.tela .tabela h2 {

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;

}

.tela .tabela .itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 29.6rem;
    height: 17.3rem;
    margin-bottom: 3.3rem;

}

.tela .container .containers .marca,
.tela .tabela .itens .marca {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-block: auto;
    gap: 1.3rem;
    width: 9.3rem;
    height: 17.3rem;
}

.checkbox-container {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Quicksand';
    font-size: 1.2rem;
    font-style: normal;
    width: 50%;

    padding: 0.7rem 0;
}



.checkbox-container input {
    margin-right: 0.5rem;
}

.checkbox-container input:checked {
    background-color: #FFFFFF;
    border: 1px solid rgba(82, 82, 82, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

/* ADICIONAR UMA RECEITA */
.tela .before #itens {
    position: absolute;
    width: 3.7rem;

    background: rgba(255, 255, 255, 0.49);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -10.6rem;
    left: 0.2rem;
    margin-block: auto;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible !important;
    height: 10.7rem;

}

.tela .before .itens .item svg {
    color: #F86E10;
    width: 2rem;
    height: 1.8rem;
}

.tela .container .containers .ingredientes .lista-ingredientes .marca {
    gap: 0.1rem;
}

.tela .container .containers .ingredientes .lista-ingredientes .marca .checkbox-container:nth-child(1) {
    margin-top: 0.5rem;

}

.tela .container .containers .ingredientes .lista-ingredientes .marca .checkbox-container:nth-child(2) {
    margin-top: -1rem;
}

.tela .container .containers .ingredientes .lista-ingredientes .marca .checkbox-container:nth-child(3) {
    margin-top: -1.3rem;

}

.tela .container .containers .ingredientes .lista-ingredientes .marca .checkbox-container:nth-child(4) {
    margin-top: -1.3rem;
    height: 2rem;
}

.tela .container .containers .ingredientes .lista-ingredientes .marca .checkbox-container:nth-child(5) {
    margin-top: -0.5rem;

    height: 2rem;

}

.tela .container .containers .ingredientes .lista-ingredientes .marca .checkbox-container:nth-child(6) {
    margin-top: -1rem;
    margin-bottom: 4.6rem;
    height: 2rem;



}

.tela .bordas {
    width: 88%;
    background-color: #fff;
    color: white;

    box-sizing: border-box;
    border-bottom: 2px solid black;
}

.tela .container {
    background-color: #fff;
    margin-top: 5rem;
    width: 33rem;
    height: 47rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    gap: 0.7rem;
}

.tela .containers {
    margin-top: 0rem;
}

.tela .containers {
    position: absolute;
    width: 33rem;
    height: 47rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.tela .container .containers .ingredientes h2 {
    position: absolute;

    height: 3.2rem;
    top: -1.1rem;
    margin-left: -0.9rem;


    margin-top: -2rem;
    background-color: #F86E10;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 1.8rem;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.tela .container .containers .marca {
    margin-top: -3rem;
    background-color: transparent;
    margin-left: -3rem;

}

.tela .container .ingredientes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 20rem;

    margin-left: 5rem;

}

.ingredientes .lista-ingredientes {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* corta para próxima linha se estourar largura */
    flex-wrap: wrap;
    gap: 1rem;



    margin-block: auto;

    /* row-gap: 1.3rem; */
}



.tela .container .mmodoPreparo {
    width: 29.7rem;
    height: 11.3rem;
    background-color: transparent;
    margin-top: 1.5rem;
}

.tela .container .containers .mmodoPreparo h2 {
    width: 13.7rem;
    height: 3.3rem;
    display: flex;
    text-align: center;
    justify-content: center;

    font-family: 'Quicksand';
    background-color: rgb(255, 85, 0);
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 25px;

    align-items: center;

    color: #FFFFFF;

}

.tela .container .mmodoPreparo textarea {
    width: 98%;
    height: 5.8rem;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    margin-top: -1.3rem;
}

.tela .container .mmodoPreparo textarea::placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
}

.tela .container .mmodoPreparo textarea:read-write {
    background-color: #fff;
}

.tela .container .tempoRendimento {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3rem;
}

.tela .container .tempoRendimento .preparo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 14.4rem;
    height: 6.4rem;
    margin-top: 1.5rem;

}

.tela .container .tempoRendimento .preparo h2 {
    margin-top: -1px;
    width: 13.7rem;
    height: 8.3rem;
    display: flex;
    text-align: center;
    justify-content: center;

    font-family: 'Quicksand';
    background-color: rgb(255, 85, 0);
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.5rem;

    align-items: center;

    color: #FFFFFF;
}

.tela .container .tempoRendimento .preparo input {
    width: 6.5rem;
    height: 1.8rem;
    border: 0;
    margin-top: -0.7rem;
    background-color: white;
    margin-bottom: 0.5rem;
}

.tela .container .categorias {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;

    width: 22.2rem;
    height: 6.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;


}

.tela .container .categorias .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tela .container .categorias .switch {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 0.7rem;
}

.switch-container {

    width: 40%;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 1rem;
    margin-block: auto;
    margin-inline: auto;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.7rem;
    width: 0.7rem;
    left: 0rem;
    bottom: 0.01rem;
    background-color: rgb(255, 81, 0);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #FA8927;
}

input:focus+.slider {
    box-shadow: 0 0 1px #FA8927;
}

input:checked+.slider:before {
    -webkit-transform: translateX(1.3rem);
    -ms-transform: translateX(1.3rem);
    transform: translateX(1.3rem);
}

.slider.round {
    border-radius: 3.4rem;
}

.slider.round:before {
    border-radius: 50%;
}

/* PERFIL USUARIO CSS */
.tela section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tela section .imgSvg img {
    position: absolute;
    border-radius: 3.6rem;

    width: 7rem;
    height: 7rem;
    margin-left: -14.5rem;
    top: 9.3rem;


    max-width: 100%;
    border: 2px solid #F86E10;
    cursor: pointer;
}

.tela section .imgSvg svg {
    position: absolute;
    margin-left: -9.5rem;
    margin-top: 10.3rem;
}

.tela section .userMiniInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15.3rem;
    height: 6.6rem;
    margin-top: 15.8rem;
}

.tela section .userMiniInfo p:nth-child(1) {
    width: 15.3rem;
    height: 4rem;


    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;

    color: #333333;
}

.tela section .userMiniInfo p:nth-child(2) {
    width: 15rem;
    height: 2.6rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.6rem;
    text-align: center;
    color: #333333;

}


.tela .informacoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3.2rem;
    width: 32.8rem;
    height: auto;
    margin: 6.6rem auto 0 auto;
    padding-bottom: 5rem;
}

.tela .informacoes .infoUserName {
    width: 22.6rem;
    height: 5.2rem;
}

.moresNames {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;



    color: #333333;

}

.tela .informacoes .UserName {
    width: 100%;

}

.tela .informacoes .UserName svg {
    cursor: pointer;
    width: 1rem;
    height: 1rem;

}

.userSenha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Perfil Seguindo  */
.tela .infoSeguindo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

}

.tela .infoSeguindo .infoSeguindoOne {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

.tela .infoSeguindo svg {
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
}

.tela .infoSeguindo .infoSeguindoOne .infoPostagens p:nth-child(1) {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

}

.infoPostagens p:nth-child(2) {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(98, 87, 87);
}

.tela .infoSeguindo .infoSeguindoOne img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}

/* Suas Receitas */

.tela .pageSlids {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.slids {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.slids img {
    width: 25rem;
    height: 15rem;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.16));
    border-radius: 12px;
}

.slids .clutens {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    gap: 2rem;

}


/* react .ingredientes */
.btnSubmite {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    bottom: 1rem;
    position: fixed;
    color: #ccc;
}

.ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 6rem !important;
    text-align: center !important;
}

.border {
    outline: none;
}

.userInfo {
    margin-top: -15rem;
}

.userPerfil,
.userSeguindo,
.perfilPreferencia,
.perfilminhasreceitas {
    background-image: url('../../assets/Papel_de_Parede3.jpg');
    background-size: cover;

}

/* geral */
input {
    outline: none !important;
}

.oculta {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: auto;
    margin-top: -12rem;
    background-color: #F86E10;
    color: aliceblue;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: transform 400ms;
    visibility: hidden;
    transform: translateY(0);
}

.itens {
    visibility: visible;
    transition: transform 400ms;
    transform: translateX(0);
}