body {
    background-image: url('.././../../assets/Papel_de_Parede4.svg');
    background-size: contain;
}
.selecao .celec:nth-child(1) p:hover{
    color: #7CB518 !important;
    
}
.celecao .celec:nth-child(2):hover {
    border-bottom: 6px solid #7CB518 !important;
}
.selecao .celec:nth-child(1) p {
    color: red;
}

.selecao .celec:nth-child(1) {
    border-bottom: 0.4rem solid red;
}
.seguindo {
    border-bottom: 6px solid #7CB518 !important;
}
.seguindo a p {
    color: #7CB518 !important;
}
.seguindo:hover {
    border-bottom: 6px solid red!important;
}