.menuitensuser {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: auto;
    background-color:#c58357;
    color: aliceblue;
    text-transform: uppercase;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: transform 400ms;
    visibility: hidden;
    transform: translateX(0);
}

.aIten {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    text-align: center;
    margin-block: auto;

}

.populars {
    position: fixed;
    cursor: pointer;
    width: 4.2rem;
    height: 4.2rem;
    left: 1.6rem;
    top: 1.6rem;
    cursor: pointer;
}

.noShow {
    visibility: visible;
    transition: transform 400ms;
    transform: translateY(50%);
}

.aIten:hover {
    filter: brightness(1.5);
    color: #560cab;
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(163, 163, 163);
    border-top: 2px solid rgb(163, 163, 163);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.a {
    border-right: 2px solid rgb(56, 52, 52);
}

.b {
    border-left: 2px solid rgb(56, 52, 52);
}
.d {
    background-color: #F86E10;
    color: #443c4c;
}