.tela .mensagemErro {
    margin-inline: auto;
    width: 31.3rem;
    height: 2.6rem;
    color: red;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.6rem;
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 1rem;

}
